.resume-title {
  color: #FF637B;
  font-weight: bold;
  font-size: 2.875em;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.image-background {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
